<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Menu</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="rstMenu" autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label *ngIf="!categories || categories.length == 0">There is no category now. </ion-label>
  </ion-item>
  <ion-card *ngFor="let category of categories">
    <ion-card-header>
      <ion-item *ngIf="category.editMode == false">
        <ion-label slot="start">
          {{category.name}}
          <br/>
          {{category.description}}
        </ion-label>
        <ion-icon slot="end" color="primary" name="create" (click)="categoryEdit(category)"></ion-icon>
        <ion-icon slot="end" color="primary" name="remove-circle" (click)="categoryDeleteAlert(category.id)"></ion-icon>
        <ion-icon slot="end" color="primary" name="arrow-dropdown" (click)="collapse(category)"></ion-icon>
      </ion-item>
      <div *ngIf="category.editMode">
        <ion-item>
            <ion-input name="name" type="text" placeholder="Name" [(ngModel)]="category.name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input name="description" type="text" placeholder="Description" [(ngModel)]="category.description"></ion-input>
        </ion-item>
        <ion-button size="large" (click)="updateCategory(category)">Save</ion-button>
      </div>
    </ion-card-header>
    <ion-card-content [hidden]="category.isHide">
      <ion-item-sliding *ngFor="let item of category.items">
        <ion-item-options side="end">
          <ion-item-option (click)="menuItemAddEdit(item.catID, item.id)">Edit</ion-item-option>
          <ion-item-option color="danger" (click)="itemDeleteAlert(item.id, category)">Delete</ion-item-option>
        </ion-item-options>
        <ion-item (click)="menuItemAddEdit(item.catID, item.id)">
          <ion-thumbnail slot="start">
            <img src="{{menuService.hostName}}{{item.imagePath ? item.imagePath : '/logo'}}">
          </ion-thumbnail>
          <ion-label>
            <h2 class="ion-text-wrap">{{item.name}}</h2>
            <p>{{item.description}}</p>
          </ion-label>
          <ion-chip slot="end">
            <ion-label>$ {{item.price | number:'1.2-2'}}</ion-label>
          </ion-chip>
        </ion-item>
      </ion-item-sliding>
      <ion-button size="large" expand="block" (click)="menuItemAddEdit(category.id, -1)">Add a Item</ion-button>         
    </ion-card-content>
  </ion-card>
  <ion-item></ion-item>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary" (click)="addCategoryPopup()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
