<ion-header translucent>
  <ion-toolbar>
    <ion-title>Current Order</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-label *ngIf="!order || order.items.length == 0">There is no item here</ion-label>
    <ion-item-sliding *ngFor="let item of order?.items">
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="itemDeleteAlert(item.id)">Delete</ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="{{hostName}}{{item.imagePath ? item.imagePath : '/logo'}}">
        </ion-thumbnail>
        <ion-label>
          <h2 class="ion-text-wrap">{{item.name}}</h2>
          <ion-chip>
            <ion-label>$ {{item.price | number:'1.2-2'}}</ion-label>
          </ion-chip>
        </ion-label>
        <ion-icon name="remove-circle" (click)="decrement(item)" color="primary"></ion-icon>
          {{item.amount}}
        <ion-icon name="add-circle" (click)="increment(item)" color="primary"></ion-icon>
      </ion-item>
    </ion-item-sliding>
    <ion-item *ngIf="order && order.items.length != 0">
      <ion-label position="stacked">Note</ion-label>
      <ion-textarea [(ngModel)]="note" (change)="noteUpdate()"></ion-textarea>
    </ion-item>
    <ion-item>
      Subtotal: <span slot="end">${{subtotal | number:'1.2-2'}}</span>
    </ion-item>
    <ion-item>
      GST: <span slot="end">${{gst | number:'1.2-2'}}</span>
    </ion-item>
    <ion-item>
      Total: <span slot="end">${{totalPrice | number:'1.2-2'}}</span>
    </ion-item>
    <ion-item *ngIf="order && order.items.length > 0">
      <ion-button size="large" expand="block" (click)="submit()">Submit Order</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
