<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Order History
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="userMenu" autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row style="height: 100%;">
    <ion-col id="order" size="3">
      <ion-content color="tertiary">
        <ion-list>
          <ion-item *ngFor="let order of orders" (click)="orderClick(order)" color="{{order.selectedColor}}">
            <ion-label>
              <h2 class="ion-text-wrap"># {{order.id}}</h2>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-col>
    <ion-col size="9">
      <ion-content>
        <app-order-item [order]="orderInShow"></app-order-item>
      </ion-content>
    </ion-col>
  </ion-row>
</ion-content>

