<ion-header>
	<ion-toolbar class="name">
		<ion-thumbnail slot="start">
			<img src="{{rstService.hostName}}{{restaurant.imagePath}}">
		</ion-thumbnail>
		<ion-label slot="start">
			<h2>&nbsp;{{restaurant.name}}</h2>
			<h3>&nbsp;{{restaurant.description}}</h3>
		</ion-label>
  	</ion-toolbar>
</ion-header>

<ion-split-pane class="flex-container" contentId="menu-content" when="xs" style="margin-top: 100px">
	<ion-menu class="category" contentId="menu-content" style="min-width: auto;">
		<ion-content >
			<ion-list >
				<ion-item *ngFor="let category of categories" (click)="categoryClick(category)">
					<ion-label class="ion-text-capitalize">{{category.name}}</ion-label>
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-menu>

	<ion-content class="item">
		<app-menu-item [category]="categoryInShow"></app-menu-item>
	</ion-content>
</ion-split-pane>
