#name{
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    height: 90px;
    padding-top: 7px;
    padding-left: 15px;
    
    ion-label{
        margin-left: 30px;
    }

    h2{
        font-size: 30px;
    }
    
    ion-thumbnail{
        --size: 70px;
    }
    img{
        border-radius: 8px;
    }
}


#category{
    padding: 0;
    ion-list {
        padding-top: 0;
        padding-bottom: 0;
    }
}