<ion-list *ngIf="category && category.items">
  <ion-item *ngFor="let item of category.items" (click)="orderItemPopup(item)">
    <ion-thumbnail slot="start">
      <img src="{{menuService.hostName}}{{item.imagePath}}">
    </ion-thumbnail>
    <ion-label class="ion-text-wrap">
      <h2>{{item.name}}</h2>
      <p>{{item.description}}</p>
    </ion-label>
    <ion-chip slot="end">
      <ion-label>$ {{item.price | number:'1.2-2'}}</ion-label>
    </ion-chip>
  </ion-item>
</ion-list>
<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button color="light" (click)="showOrder()">
    <ion-icon name="restaurant"></ion-icon>
  </ion-fab-button>
</ion-fab>
