ion-item, ion-content{
    --background: rgba(249,213,177);
}

.order{
    background-color: rgba(249,213,177);
    padding-left: 10px; 
}

ion-button{
    --background: rgba(133,172,168);
    display: block;
    padding-right: 10px;
}

