<ion-list *ngIf="order && order.items">
  <ion-item *ngFor="let item of order.items">
    <ion-thumbnail slot="start">
      <img src="{{orderService.hostName}}{{item.imagePath ? item.imagePath : '/logo'}}">
    </ion-thumbnail>
    <ion-label>
      <h2 class="ion-text-wrap">{{item.name}}</h2>
      <ion-chip>
        <ion-label>$ {{item.price | number:'1.2-2'}}</ion-label>
      </ion-chip>
      x {{item.amount}}
    </ion-label>
  </ion-item>
  <ion-item>
    Subtotal: <span slot="end">${{subtotal | number:'1.2-2'}}</span>
  </ion-item>
  <ion-item>
    GST: <span slot="end">${{gst | number:'1.2-2'}}</span>
  </ion-item>
  <ion-item>
    Total: <span slot="end">${{totalPrice | number:'1.2-2'}}</span>
  </ion-item>
</ion-list>
