#order{
    padding: 0;
    ion-list {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@-webkit-keyframes notifAnimation {
    50% {
        opacity: 0.5;
        filter: alpha(opacity=50)
    }
    100% {
        opacity: 1;
        filter: alpha(opacity=100)
    }
}

@keyframes notifAnimation {
    50% {
        opacity: 0.5;
        filter: alpha(opacity=50)
    }
    100% {
        opacity: 1;
        filter: alpha(opacity=100)
    }
}

.new-order {
    -webkit-animation: notifAnimation 1s infinite;
    animation: notifAnimation 1s infinite;
}